{
  "presets" : [
      "es2015",
      "stage-0",
      "react",
      "flow",
      "babel-preset-power-assert"
  ],
  "plugins": [
    "syntax-flow",
    "babel-plugin-transform-flow-strip-types"
  ]
}
